body {
    background-image: url(../img/wallpaperflare.com_wallpaper.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh; /* Esto asegura que el fondo cubra toda la altura del viewport */
}
/* Estilo personalizado para el botón */
.btn.transparencia {
    background-color: rgba(169, 169, 169, 0.823) !important;
    color: #ffffff !important;
    transition: background-color 0.3s ease;
}


/* Cambiar el color de fondo en hover */
.transparencia:hover {
    background-color: rgba(169, 169, 169, 0.955)!important; /* Cambia la transparencia al pasar el cursor */
}
/* Estilos para el logotipo */
.logo {
    width: 120px; /* Ancho del logotipo */
    height: auto; /* Altura automática para mantener la proporción */
    border: 3px solid #777a7d; /* Borde sólido azul */
    border-radius: 55%; /* Borde redondeado para que parezca un logotipo circular */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6); /* Sombra suave */
}
.container-bg {
    background-color: rgba(169, 169, 169, 0.3); /* Gris semitransparente */
    padding: 20px; /* Espaciado interior opcional */
}
/* Estilos para el título con fuente "Bangers" */

.titulo-psicodelico {
    font-family: 'Bangers', sans-serif;
    font-size: 36px;
    color: #ffffff; /* Texto en color blanco o un color que contraste bien */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra de texto */
}
